.contents {
    padding       : 10px;
    flex          : 1;
    display       : flex;
    flex-direction: column;
    position      : relative;
    overflow      : hidden;
}

.contents_container {
    flex    : 1;
    overflow: auto;
    padding: 5px;
}

.contents_container::-webkit-scrollbar {
    width           : 5px;
    background-color: #fff;
    border-radius   : 4px;
    overflow        : hidden;
}

.contents_container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius   : 4px;

}

.contents_add {
    position        : absolute;
    bottom          : 0;
    left            : 50%;
    transform       : translateX(-50%);
    width           : 100%;
    display         : flex;
    justify-content : center;
    padding         : 10px;
    background-color: transparent;
}

.contents_add-btn {
    width           : 10%;
    background-color: rgba(172, 172, 172, 0.7);
    border          : none;
    border-radius   : 2px;
    color           : black;
    font-size       : 24px
}

.contents_add-btn:active {
    transform: scale(0.9);
}

.contents_add-edit {
    position        : absolute;
    top             : 0;
    bottom          : 0;
    right           : 0;
    left            : 0;
    z-index         : 1;
    padding         : 10px;
    border-radius   : 5px;
    background-color: rgb(138, 138, 138);

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : flex-start;
}

.add_edit-header {
    width: 100%;
}

.add-edit-container {
    width: 100%;
}

.add-edit-container label {
    display      : block;
    margin-bottom: 5px;
    color        : black;
}

.add-edit-container textarea {
    padding         : 5px;
    font-size       : 14px;
    line-height     : 20px;
    background-color: #acacac;
    color           : #333;
    border-radius   : 5px;
    margin-bottom   : 20px;
    height          : 70px;
    resize          : none;
}

.add_edit-footer {
    width          : 100%;
    display        : flex;
    justify-content: center;
}

.add_edit-close {
    width           : 50px;
    height          : 50px;
    font-size       : 20px;
    border-radius   : 50%;
    border          : none;
    background-color: #333;
    color           : #acacac;
    cursor          : pointer;
}

.add_edit-close:active {
    transform: scale(0.9);
}

.tags_container {
    display        : flex;
    justify-content: space-around;
    padding        : 10px;
    border-radius: 5px;
}

.tag {
    color        : #fff;
    font-size    : 14px;
    font-weight  : 500;
    border-radius: 25px;
    padding      : 5px;
    width    : 60px;
    text-align   : center;
    cursor       : pointer;
    border       : none;
}

.tag.color1 {
    background-color: #007d7f;
}

.tag.color2 {
    background-color: #ca432d;
}

.tag.color3 {
    background-color: #0467be;
}

.tag.color4 {
    background-color: #dd6ff5;
}

.tag.color5 {
    background-color: #c1b519;
}

.tag.color1.active,
.tag.color2.active,
.tag.color3.active,
.tag.color4.active,
.tag.color5.active
 {
    border    : none;
    box-shadow: 1px 1px 10px 1px #00fbff;
}


.post {
    background-color: #484848;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 4px 2px var(--color-primary);
}

.post_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.post_tag {
    margin-bottom: 20px;
}
.post_desc {
    color: #acacac;
}